# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=963f3b2543b413d7b6cf39e910774e9aa1b6744fe738cdfa014cda4d36b6acf5fa606a9a609aac82280dabe9cfb692073f1327c6d3ba60fec27c84ee7bc2bdea
REDIS_URL=redis://localhost:6379/1
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
